In [1]:
num = 3
print(num)

3

In [ ]:
# num변수에 정수형 값을 대입하고 print함수 실행
num1 = 13  
print(num1)
num2 = 25
print(num2)
num2 = 77
print(num2)

In [ ]:
# 위에 코드에 print사용 않하고 실행
num1 = 13
num1
num2 = 25
num2
num2 = 77
num2

In [ ]:
# 위에 코드에 print사용 않하고 실행
num1 = 13
num1
num2 = 25
num2
num2 = 77
num1, num2

In [ ]:
type(num2)

In [ ]:
#num변수에 실수형 값 대입
num3 = 3.1425
print(num3)
num4 = 1.25
print(num4)
num4 = 3.12
print(num4)
type(num4)

In [ ]:
#str변수에 문자열 값 대입
str1 = "Funny python"
print(str1)
str2 = "Easy Python"
print(str2)
type(str2)

In [ ]:
#print 함수 내 변수
number = 10
Number = 20
print("number :", number)
print("Number :", Number)

In [ ]:
#변수 규칙
1a = 10
a

In [ ]:
#변수 규칙(짙은초록색=예약어,옅은초록색=명령어)
if = 30
if

In [ ]:
#예약어 종류
import keyword
keyword.kwlist

In [ ]:
#변수 대입 1
a = 10
b = 15
print(a)
print(b)

#변수 대입 방법 2
a, b = 10, 15
print(a)
print(b)
#코드작성에서 엔터가 있어도 값에는 몇번있던 적용은 않됨

In [ ]:
#변수 대입 방법 1
str1 = "python"
str2 = "python"
print(str1)
print(str2)

#대입 방법 2
str1 = str2 = "python"
print(str1)
print(str2)

In [ ]:
#sum 예제, sum(예약어)를 변수로 사용!!!!
x = 100
y = 200
sum = x+y
print(sum)

In [2]:
'''위 코드에서 sum을 변수로 사용해서 예약어로서 기능 상실
Karnel에서 Restart&Calear Output 사용 - 결과들 초기화'''
sum([1,2,3,4])

10

In [6]:
#문자열 사용 중 작은따옴표, 큰따옴표 포함(error)
s = 'she's gone'
s

SyntaxError: invalid syntax (2491143370.py, line 2)

In [8]:
#문자열 사용(''을 기능적으로 사용x, 문자적으로 사용)
s1 = "she's gone"
s2 = "she\'s gone"
print(s1)
print(s2)

she's gone
she's gone

In [10]:
#문자열 사용(''을 기능적으로 사용x, 문자적으로 사용)
s1 = 'he said that "she is gone"'
s2 = "he said that \"she is gone\""
print(s1)
print(s2)

he said that "she is gone"
he said that "she is gone"

In [11]:
#여러줄 문자열
s = "여러줄로 구성된 \n문자열을 하나로 대입할 때"
print(s)

여러줄로 구성된
문자열을 하나로 대입할 때

In [17]:
#여러줄 문자열
s = '''여러줄로 구성된
문자열을 하나로
대입할 때'''
print(s)

#코드로 보는 것과 실제적으로 작성한 것과는 다르게 보임.
s = '''\n여러줄로 구성된
       문자열을 하나로
       대입할 때'''
print(s)

여러줄로 구성된
문자열을 하나로
대입할 때

여러줄로 구성된
       문자열을 하나로
       대입할 때

In [18]:
# 이스케이프 코드
s = '''여러\t줄로 구성된
문자열을 하나로
대입할 때'''

print(s)

여러	줄로 구성된
문자열을 하나로
대입할 때

In [25]:
#인덱싱
s = "My name is IS"
print(s[0])
print(s[8])

print(s[-2])
print(s[-1])

M
i
I
S

In [43]:
#슬라이싱
print(s[0:2])
print(s[3:7])
print(s[8:10])

print(s[0:7])
print(s[:7])

print(s[8:13])
print(s[8:])
print(s[-5:])

print(s)
print(s[:])
print(s[0:13])
print(s[-13:])

My
name
is
My name
My name
is IS
is IS
is IS
My name is IS
My name is IS
My name is IS
My name is IS

In [69]:
s = "2020년 3월 3일의 날씨는 맑음입니다."
print("날짜 : ", s[0:11])
print("날씨 : ", s[17:19])

a = "날짜"
b = "날씨"
print(a, "", "",s[0:11])

날짜 :  2020년 3월 3일
날씨 :  맑음
날짜   2020년 3월 3일